*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: #F9F9F9;
    height: 100%;
}

p{
    color: #1C3879;
    display: inline;
}

hr{
    border-style: none;
    border-top-style: dotted;
}

.empty{
    color: #A2B5BB;
}

.date{
    display: flex;
    font-size: 12px;
    justify-content: end;
    color: #533483;
}

.comments{
    width: 90%;
    margin: 0 auto;
    height: 40vh;
    padding-top: 20px;
    overflow-y: scroll;
}

.textarea{
    width: 90%;
    margin: 0 auto;
}

textarea{
    width: 100%;
    height: 80px;
    padding: 15px 20px;
    border: 1px solid #1CD6CE;
    border-radius: 6px;
    margin-top: 10px;
}

#btn {
    width: 100%;
    padding: 14px 20px;
    margin: 15px 0 50px 0;
    background-color: #7FBCD2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: lowercase;
}

hr {
    color: #7FBCD2;
}

.user_img{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 10px;
}

#name_id{
    color: #A62349;
}

#name, #avatar {
    width: 14.3%;
    height: 15px;
    padding: 15px 20px;
    border: 1px solid #1CD6CE;
    border-radius: 6px;
    margin-top: 10px;
    font-family: monospace;
}

#clear{
    margin-top: 10px;
    width: 7%;
    padding: 14px 20px;
    margin: 15px 0 50px 0;
    background-color: #7FBCD2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: lowercase;
}


